@import "~antd/dist/antd.css";
* {
  margin: 0px;
  padding: 0px;
}
h3 {
  padding-left: 10px;
  margin-top: 20px;
}
.App {
  display: flex;
  flex-wrap: wrap;
}
.App li {
  list-style-type: none;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e4ecf3;
  box-shadow: 1px 2px 3px #f2f6f8;
  border-style: solid;
  margin: 22px 3px 0 10px;
  width: 200px;
}
.App li:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
}
.desc {
  font-size: 12px;
  padding-top: 10px;
  height: 35px;
}
.log {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #3273dc;
  height: 40px;
  align-items: center;
}
img {
  width: 40px;
  height: 40px;
  padding-right: 2px;
}
.bd {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.bd .bd-input {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 100px;
  align-self: flex-end;
}
