* {
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-wrap: wrap;
}
.App li {
  list-style-type: none;
  padding: 10px;
  border: 1px;
  border-style: solid;
  margin: 22px 0 0 10px;
  width: 200px;
}
.App li:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
}
.des {
  font-size: 12px;
  padding-top: 10px;
  height: 35px;
}
.log {
  display: flex;
  font-size: 14px;
  font-weight: 700;

  color: #3273dc;
  height: 40px;
  align-items: center;
}
img {
  width: 40px;
  height: 40px;
  padding-right: 2px;
}
